<section *ngIf="!loading">
    <router-outlet></router-outlet>
</section>
<footer *ngIf="!loading">

    <span class="flags-container">
        <span class="flex-column-center router" (click)="setLanguage('md')">
            <img class="flag" src="../assets/img/md.svg" alt="MD">
            <b [ngClass]="LangColor('md')" >MD</b>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="flex-column-center router" (click)="setLanguage('ru')">
            <img class="flag" src="../assets/img/ru.svg" alt="RU">
            <b [ngClass]="LangColor('ru')" >RU</b>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="flex-column-center router" (click)="setLanguage('en')">
            <img class="flag" src="../assets/img/en.svg" alt="EN">
            <b [ngClass]="LangColor('en')" >EN</b>
        </span>       
    </span>


    <span 
    [routerLink]="['/home']" 
    routerLinkActive="active" 
    class="flex-column-center router">
        <mat-icon fontIcon="home"></mat-icon>
        <b>{{html.home[authSerivce.language]}}</b>
    </span>

    <span 
    [routerLink]="['/unlock']" 
    routerLinkActive="active" 
    class="flex-column-center router">
        <mat-icon fontIcon="lock_open"></mat-icon>
        <b>{{html.unlock[authSerivce.language]}}</b>
    </span>

    <span 
    *ngIf="authSerivce.user"
    [routerLink]="['/payment']" 
    routerLinkActive="active" 
    class="flex-column-center router">
        <span class="payment-contacts">
            <mat-icon fontIcon="payments"></mat-icon>
            /
            <mat-icon fontIcon="call"></mat-icon>
        </span>
        <b>{{html.payment[authSerivce.language]}} / {{html.contacts[authSerivce.language]}}</b>
    </span>

    <span 
    *ngIf="!authSerivce.user"
    [routerLink]="['/login']" 
    routerLinkActive="active" 
    class="flex-column-center router">
        <mat-icon fontIcon="person"></mat-icon>
        <b>{{html.enter[authSerivce.language]}}</b>
    </span>

    <span 
    *ngIf="authSerivce.user"
    [routerLink]="['/user']" 
    routerLinkActive="active" 
    class="flex-column-center router">
        <mat-icon fontIcon="person"></mat-icon>
        <b>{{authSerivce.user.name}}</b>
    </span>

</footer>
<div id="loading" *ngIf="loading" >
    <mat-spinner [diameter]="100" ></mat-spinner>
</div>